<div class="container  mt-4 ml-4">
<button type="button" class="btn btn-primary" (click)="generateNumbers()" *ngIf="!isGenerated">Generate 100 Random Numbers</button>
<div class="alert alert-info mt-4" role="alert" *ngIf="isGenerated && randNumbers.length>1">
    <p *ngIf="!isSorted">Your Randomly generated numbers are ready!! Please note that these are between 0 to 99 :)</p>
    <p *ngIf="isSorted">Your Sorted Array looks like this ..</p>
  </div>
  <p class="row p-4" *ngFor="let randomNumbers of randNumbers" style="display:inline;">
    {{randomNumbers}}
  </p>
  <hr>
  <div>
  <button type="button" class="btn btn-primary" (click)="sortNumbers()" *ngIf="isGenerated && randNumbers.length>1">Sort Numbers</button>
  <button type="button" class="btn btn-danger ml-4" (click)="clear()" *ngIf="isGenerated && randNumbers.length>1">Clear</button>
</div>
</div>