<h1 mat-dialog-title class="text-success">Please Create a new Stock here</h1>
<form [formGroup]="addInventory" (ngSubmit)="onSave()">
    <div mat-dialog-content>
        <mat-form-field>
            <input matInput placeholder="Name" formControlName="iname">
        </mat-form-field><br>
        <mat-form-field>
            <input matInput placeholder="Description" formControlName="description">
        </mat-form-field><br>
        <mat-form-field>
            <input matInput placeholder="Price" type="number" formControlName="price">
        </mat-form-field><br>
        <mat-form-field>
            <input matInput placeholder="Quantity Available" type="number" formControlName="quantity">
        </mat-form-field>
    </div><br>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary" type="submit" style="margin-left:110px;"
            [disabled]="!addInventory.valid" >Update</button>
        <button mat-raised-button color="warn" (click)="onCancel()" cdkFocusInitial>Cancel</button>
    </div>
</form>